#plus-button,#minus-button{
    width: 25px;
    height: 25px;
    padding: 2px;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid black;
    border-radius: 6px;
    background-color: black;
    font-size: 20px;
    color: white;
    cursor: pointer;
    transition: all 0.2ms ease-in-out;
}
#plus-button:hover,
#minus-button:hover{
    transform: scale(1.05);;
}