.carousel img {
    width: 800px;
    height: 400px;
    object-fit: contain;
    margin: 0 auto;
}
.carousel {
    max-width: 800px;
    margin: 0 auto;
}
.carousel-control-next-icon:after,
.carousel-control-prev-icon:after {
    content:"";
    display:inline;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: rgba(0, 0, 0, 0.27);
}