.status,
.delivered {
    display: inline;
    background-color: rgba(67, 67, 168, 0.7);
    height: 36px;
    padding: 5px;
    padding-inline: 10px;
    border: 0;
    border-radius: 18px;
}
.delivered{
    background-color: #22e722;
}
.orderInfo {
    display: flex;
    justify-content: start;
    align-items: center;
}